[submodule "modules/libcx-threadpool"]
	path = modules/libcx-threadpool
	url = git@github.com:r10r/libcx-threadpool.git
[submodule "modules/libcx-list"]
	path = modules/libcx-list
	url = git@github.com:r10r/libcx-list.git
