[submodule "libcx-socket-unix"]
	path = libcx-socket-unix
	url = git@github.com:r10r/libcx-socket-unix.git
[submodule "libcx-list"]
	path = libcx-list
	url = git@github.com:r10r/libcx-list.git
[submodule "libcx-workqueue"]
	path = libcx-workqueue
	url = git@github.com:r10r/libcx-workqueue.git
[submodule "libcx-ragel"]
	path = libcx-ragel
	url = git@github.com:r10r/libcx-ragel.git
[submodule "libcx-sandbox"]
	path = libcx-sandbox
	url = git@github.com:r10r/libcx-sandbox.git
[submodule "libcx-base"]
	path = libcx-base
	url = git@github.com:r10r/libcx-base.git
[submodule "libcx-umtp"]
	path = libcx-umtp
	url = git@github.com:r10r/libcx-umtp.git
[submodule "libcx-string"]
	path = libcx-string
	url = git@github.com:r10r/libcx-string.git
