[submodule "libcx-socket-unix"]
	path = libcx-socket-unix
	url = https://github.com/r10r/libcx-socket-unix.git
[submodule "libcx-list"]
	path = libcx-list
	url = https://github.com/r10r/libcx-list.git
[submodule "libcx-sandbox"]
	path = libcx-sandbox
	url = https://github.com/r10r/libcx-sandbox.git
[submodule "libcx-base"]
	path = libcx-base
	url = https://github.com/r10r/libcx-base.git
[submodule "libcx-umtp"]
	path = libcx-umtp
	url = https://github.com/r10r/libcx-umtp.git
[submodule "libcx-string"]
	path = libcx-string
	url = https://github.com/r10r/libcx-string.git
